<!DOCTYPE html>
<html ng-app="calculatorApp">
<head>
  <title>Calculator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="calculatorController">
  <h2>Calculator in AngularJS</h2>
  
  <input type="number" ng-model="operand1" placeholder="Operand 1">
  <br><br>
  <input type="number" ng-model="operand2" placeholder="Operand 2">
  
  <br><br>
  
  <button ng-click="add()">+</button>
  <button ng-click="subtract()">-</button>
  <button ng-click="multiply()">*</button>
  <button ng-click="divide()">/</button>
  
  <br><br>
  
  <label>Result: {{result}}</label>
 
  
  <script>
    angular.module('calculatorApp', [])
      .controller('calculatorController', function($scope) {
        $scope.result = 0;
        
        $scope.add = function() {
          $scope.result = $scope.operand1 + $scope.operand2;
        };
        
        $scope.subtract = function() {
          $scope.result = $scope.operand1 - $scope.operand2;
        };
        
        $scope.multiply = function() {
          $scope.result = $scope.operand1 * $scope.operand2;
        };
        
        $scope.divide = function() {
          if ($scope.operand2 !== 0) {
            $scope.result = $scope.operand1 / $scope.operand2;
          } else {
            alert("Cannot divide by zero!");
          }
        };
      });
  </script>
</body>
</html>